@model  Delicious_Food.Models.Product
@{
    ViewBag.Title = "THÔNG TIN";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>ID :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proID)
        </dd>

        <dt>
            <label>Hãng sản xuất :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.pdcName)
        </dd>

        <dt>
            <label>Loại sản phẩm :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.typeName)
        </dd>

        <dt>
            <label>Tên sản phẩm :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proName)
        </dd>

        <dt>
            <label>Kích cỡ :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proSize)
        </dd>

        <dt>
            <label>Đơn giá :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPrice)
        </dd>

        <dt>
            <label>Chiết khấu (%) :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proDiscount)
        </dd>

        <dt>
            <label>Hình ảnh :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPhoto)
        </dd>

        <dt>
            <label>Thời Gian Update :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proUpdateDate)
        </dd>

        <dt>
            <label>Mô Tả :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.proID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


